<div class="row">
    <div class="col-md-6 offset-3 alert alert-success" text-center>
        <h2>Заказ успешно выполнен</h2>
        <p>Вы можете проверить ваши заказы в разделе Заказы в своем профиле</p>
        <hr />
        <p>Спасибо!</p>
    </div>
</div>