<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Что-то пошло не так...</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Perfumes" asp-action="Index">Вернуться на главную страницу</a>
    </div>
</div>